livro.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema"
       targetNamespace="http://www.caelum.com.br"       
       elementFormDefault="qualified">

  <xs:element name="livro">
	  <xs:complexType>
		  <xs:sequence>
	  	    <xs:element name="id" type="xs:int" minOccurs="0"/>
	        <xs:element name="nomeAutor" type="xs:string" minOccurs="0"/>
		    <xs:element name="valor" type="xs:decimal" minOccurs="0"/>
		  </xs:sequence>
	  </xs:complexType>
   </xs:element>
</xs:schema>

